We have made a "System File Viewer" which is to view hidden services and hidden files from the application, This comes with the next update on Windows 10-11. 

How to Execute:
- Windows Key + R
- Once Run is opened, type in 'sfv'.
